body { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin: 0; padding: 0; }

header>h1 { background: #f1f1f1 url('/images/gdg-logo.png') no-repeat 17px 4px; color: #6b6c6c; margin: 0; padding: 26px 104px; }
header>ul { background-color: #444444; height: 39px; list-style-type: none; margin: 0; overflow: hidden; padding: 0 0 0 44px; }
header>ul>li { color: #ffffff; font-size: 15px; float: left; line-height: 39px; margin: 0 30px 0 0; padding: 1px 0 0 0; }
header>ul>li.active { background: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAAAKCAYAAACuaZ5oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH1JREFUeNpi/P//PwORgBmIJ0DZBUD8lyhdIAuIwEJAvP0/AmyHihHUS4zhKkB8+z8muA2Vo8gCeyB++x83eAtVQ5YFOUD88z9h8AeqlmgLmIF48n/SwWSoXrwWoEcmqQAj8omJTFIBSuQTG5mkAnjkwyLzz3/qA3DkAwQYABEvANn67PzPAAAAAElFTkSuQmCC") no-repeat scroll center 32px transparent; font-weight: bold; margin-top: 1px; }

body>section { margin: 21px 44px;  }
#map_canvas { height: 400px; width: 100%; }
