body {
  font-family: helvetica, sans-serif;
  width: 760px;
  margin: 10px auto;
}

header {
  border-bottom: 1px solid #DDD;
}

header h1 {
  margin-bottom: 2px;
}

header p {
  font-style: italic;
  margin-top: 2px;
  margin-left: 20px;
}

#debug-panel {
  width: 100%;
  height: 300px;
  border: 1px solid;
  background-color: #EEE;
  overflow-y: scroll;
}

body .ui-widget {
  font-size: 12px;
}

.write-sample {
  width: 225px;
}

#custom-json {
  width: 100%;
  height: 200px;
}

form {
  display: inline;
}
