{% extends "global.html" %}
{% block content %}
<div class="container-fluid" id="page_devfestw">

  <div class="row">
    <div id="title">
      <h1>DevFestW</h1>
    </div>
    <hr class="thin-line">
  </div>
  <div class="row">
    <div class="row-fluid">

      <div class="span2">
        
        <div>
          <div>          
	        <span style="margin-left: 5px">
	          <img src="/images/devfestw.png" alt="DevFestW Logo" />
	        </span>
	        <br/>
	        <br/>
	        <br/>
	        DevFestW is going on now until March 10th. Find an event in your area to participate.	        	        	      
          </div>
        </div>
      </div>

      <div class="span7">
        <div id="gdg-container">
          <h2>DevFest to the power of women</h2>

          <p>
            DevFestW is a series of community-led events that have technical sessions centered 
            around Google developer technologies and platforms. DevFestW is focused 
            specifically on bringing together women in the local developer community to teach, learn, code and network.</p>

          <p>Similar in spirit to a regular DevFest, each DevFestW event should be tailored to the needs of the hosting developer community.
          </p>

              <h3>How is DevFestW different from any other DevFest?</h3>
              <ol>
              <li><p><b>Women focus</b></p>
              <p>
              While both events are similar, DevFestW has an emphasis on female inclusion. 
              What form this element takes will depend on local interest and needs, 
              but here are some things to consider during the planning process:
			 </p>
             <p><b>Women speakers</b><br/>
             Make a concerted effort to recruit good women speakers. Include them in the planning process 
             and bring in their communities.
			 </p>
			 <p><b>Women organizers</b><br/>
              If no one on the regular organizing committee is a woman, this is a great opportunity 
              to seek out potential women organizers to champion this event and diversity in your local group.
              </p>

             <p><b>Partnerships with local women developer organizations.</b><br/>
             You'll likely need to partner up with an organization primarily focused on women in technology to:
             </p>
             
             <ul>
             <li>Get feedback on what women devs would like to see at the event</li>
             <li>Promote the event</li>
             <li>Find women speakers/panelists</li>
			 </ul>
			 
             <p>All of this is, of course, a 2-way street, so organizers should look for ways to 
             have an ongoing relationship in the future (e.g. co-promoting events, sharing speakers, etc.).
			 </p>
			 
			 <p>Some examples of groups in the Bay Area are Girl Develop It, 
			 Women Who Code, Women 2.0. Here is a list of organizations dedicated to women in tech. 
			 You can also search sites like meetup.com to find local groups. Many universities also have 
			 Women in Engineering clubs on campus that you may try to reach out to for potential attendees.
			 </p>

              </li>
              
              <li><p><b>Duration</b></p>
              <p>
              DevFests generally span anywhere from 6-hours to 2-days. In order to make DevFestW as 
              accessible as possible, there is <b>no minimum duration requirement</b> for the event. 
              Instead, we encourage all relevant events, big or small, to participate in this initiative. 
              This means a DevFestW event may include anything from a full-on 2-day speaker series + hackathon 
              event, to a 2-hr group code lab. It's up to you.</p>

              <p>Hold your event anytime between now and March 10, 2013 to be included in DevFestW season.</p>              
              </li>
              
              <li><p><b>Content</b></p>
              <p>Like a regular DevFest, the content should still have an emphasis on Google developer 
              platforms/products -- whether that be a free form hackathon, code lab, or technical lecture. 
              You should also get feedback from women in your community to see if there is demand for 
              sessions like Q&A/panel sessions with prominent women tech leaders in the local community.
              </p>

             <p>Some communities report that having a structured, beginner-friendly atmosphere 
             tends to promote more equal gender.</p>
             </li>
             
              </ol>             
            
              <h3>Are DevFestW events women-only?</h3>
              <p>DevFestW is not intended to be women-only, but is instead an opportunity for 
              developer communities to be more mindful of female inclusion. 
              However, if an exclusive event is determined to be the most culturally 
              appropriate to the hosting community, this is certainly acceptable.</p>
            
              <h3>Why DevFestW?</h3>
              <p>Google believes diversity and inclusion is important for thriving, 
              vibrant communities. Focusing on women-inclusion is the first step in a 
              larger effort to diversify the global Google developer community. The 
              GDG community has shown great interest in this initiative, so we are 
              offering them the reigns to push it forward with a women-focused DevFest.</p>
              
              <p>
              Google will be hosting GDG Silicon Valley DevFestW event in Mountain View, 
              CA on March 1-2, 2013. More details on agenda and live streaming access to come.</p>            

          <div class="well">
            <p class="lead">Hashtag: <b>#devfestw</b></p>
            <p>
              <i>DevFestW is going on now until March 10th. Find an event in your area to participate.</i><br />
              See all <a href="/events?series=devfestw">events here</a><br /><br />
              <a href="https://twitter.com/intent/tweet?button_hashtag=devfestw&amp;text=DevFestW"
                class="twitter-hashtag-button" data-size="large"
                data-related="pjv_">Tweet #devfestw</a>
              <script>
                !function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                  }
                }(document, "script", "twitter-wjs");
              </script>
            </p>
            <!--<div class="g-plus" data-href="https://plus.google.com/104578858113292768239" data-rel="publisher"></div>-->
          </div>
        </div>
      </div>
  </div>
    <!--
    <div class="disclaimer-text">
      <p>
        <a style="color: #000;" href="mailto:devfestw@googlegroups.com">Contact us.</a>
      </p>
      <p>Disclaimer: DevFestW is initiated by Google and organized by independent GDG groups</p>
    </div>
    -->
</div>

<!-- Place this tag after the last badge tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %}
