{% extends "global.html" %}
{% block content %}
<div class="container-fluid" id="page_gadc13">

  <div class="row">
    <div id="title">
      <h1>Global Android Dev Camp</h1>
    </div>
    <hr class="thin-line">
  </div>
  <div class="row">
    <div class="row-fluid">

      <div class="span2">
        
        <div>
          <div><a style="color: #000" href="https://plus.google.com/events/c6hmo8uib9vheuod8a7tlc9p33s">
          
	        <span style="margin-left: 5px">
	          <img src="/images/gadc13big.jpg" alt="GADC13 logo" />
	        </span>	 
	        </a>       
          </div>
        </div>
      </div>

      <div class="span7">
        <div id="gdg-container">
          <h2>One Weekend Android Hackathon all over the world</h2>

          <p>
            Global Android Dev Camp took place the first time in 19-21 February 2012.
          </p>

          <p>This year's edition ... </p>

          <div class="well">
            <p class="lead">Hashtag: <b>#gadc13</b></p>
            <p>
              <i>Think global, act local</i><br />
              See all <a href="/events?series=gadc13">events here</a> and below.<br /><br />
              <a href="https://twitter.com/intent/tweet?button_hashtag=gadc13&amp;text=GADC13"
                class="twitter-hashtag-button" data-size="large"
                data-related="pjv_">Tweet #gadc13</a>
              <script>
                !function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                  }
                }(document, "script", "twitter-wjs");
              </script>
            </p>
            <div class="g-plus" data-href="https://plus.google.com/102283760516132651199" data-rel="publisher"></div>
          </div>
        </div>
      </div>
      <!--
      <div class="span3" id="sponsors_column">
        <h3>Our Sponsors</h3>
        <h4>Global Silver</h4>
        <p class="centered"><a href="http://www.alcatelonetouch.com/">
          <img src="/images/alcatel.png" alt="Alcatel Sponsor Logo" class="sponsorimg" /></a><a href="http://www.sonymobile.com/">
          <img src="/images/sony.png" alt="SONY Sponsor Logo" class="sponsorimg" /></a>
        </p>
      </div>
    </div>
    -->
  </div>

    
    <div class="disclaimer-text">
      <p>
        <a style="color: #000;" href="mailto:android-birthday@googlegroups.com">Contact us.</a>
      </p>
      <p>Disclaimer: Global Android Dev Camp is an independent event organized by mostly GTUGs/GDGs; our activities and the opinions expressed here and on related pages should in no way be linked to the Google corporation, or the OHA.</p>
    </div>
    
</div>

<!-- Place this tag after the last badge tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %}
