{% extends "global.html" %} 
{% block head %} 
{% endblock %} 

{% block document_ready %} 
{% endblock %} 

{% block content %}
<div class="container-fluid">

	<div class="row">
		<div id="title">
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px">About GDG DevFest!</h1>
		</div>
		<hr class="thin-line">
	</div>

	<div class="row-fluid">
		<div class="span3">
			<div class="row">
				<span style="margin-left: 5px"> <img src="/images/gdgbig.png">

				</span>
			</div>
		</div>

		<div class="span9">
			<div class="row">
        <div id="gdg-container">
          <p class="lead">GDG DevFests</p>
          <p class="about-text">GDG DevFests are large, community-run events that can offer speaker sessions across product areas, all-day hack-a-thons, code labs, and more. Each GDG DevFest will be inspired by, and uniquely tailored to, the needs of the hosting developer community.  While no two events are exactly alike, each GDG DevFest will, at its core, be powered by a shared belief that when developers come together to exchange ideas, amazing things can happen.</p>
        
          <p class="about-text">Invitations to host a GDG DevFest is being extended to the active GDG chapters listed <a href="https://developers.google.com/groups/" target="_blank">here</a>. If you would like to organize a GDG DevFest event in your city, and do not currently have a GDG chapter, visit our <a href="https://developers.google.com/groups/start/" target="_blank">Starter Guide</a> for further information.  In addition to GDG chapters, we are also inviting chapters with GTUG branding to plan and organize GTUG DevFests.</p>
        
          <p class="about-text">GDG DevFests are community-run events organized throughout the year. The content of these events is community-determined.</p>
					<div class="well">
						<b>In order to ensure that these events have greater reach and content coverage, we have some recommendations:</b> <br>
						<br>
            <ul class="unstyled about-list">
							<li><i class="icon-ok"></i> Duration of the event should be at least 6 hours</li>
							<li><i class="icon-ok"></i> More than 1 track if organizing a speaker session-based event</li>
							<li><i class="icon-ok"></i> Hackathon (Single or Multi-Product) - Ideally between 24 and 48 hours</li>
						</ul>
          </div>
          <!--
				<div class="">
					<b>Following are some of the major GDG organized events:</b>
					<br><br>
					<ul class="unstyled about-list" style="margin-left:20px;">
						<li><i class="icon-eye-open"></i><a href="https://sites.google.com/site/devfestxjapan2012/"> DevFest Japan Summer 2012</a></li>
						<li><i class="icon-eye-open"></i><a href="http://devfestx.com/gdg/bangalore/2012/index.html"> DevFest Bangalore</a> </li>
						<li><i class="icon-eye-open"></i><a href="https://sites.google.com/site/devfestxkorea/"> DevFest Korea</a></li>
						<li><i class="icon-eye-open"></i><a href="http://www.devfestx.com/gtug/delhi/2012/"> DevFest New Delhi</a></li>
						<li><i class="icon-eye-open"></i><a href="https://sites.google.com/site/devfestxsapporo/agenda/"> DevFest Sapporo</a></li>
          </ul>
				</div> -->
				</div>		
			</div>
		</div>
	</div>
</div>

{% endblock %} 
