{% extends "global.html" %}
{% block head %}
<style>
.eventtype img{
width:110px;
height:127px;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div id="title">
      <h1 style="font-size: 25px; float: none; margin-bottom: 10px">FAQs!</h1>
    </div>
    <hr class="thin-line">
  </div>

  <div class="row-fluid">
    <div class="span3">
      <div class="row">
        <span style="margin-left: 5px">
          <img src="/images/gadc13big.jpg">
        </span>
      </div>
    </div>

    <div class="span9">
      <div class="row">
        <div id="gdg-container">

          <ul class="unstyled" id="faqlist">
            <li>
              <h3>Q: What is a GADC?</h3>
              <p>One weekend of Android coding near you.</p>
            </li>
          </ul>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
