{% extends "global.html" %} 
{% block head %} 
{% endblock %} 

{% block document_ready %} 
{% endblock %} 

{% block content %}
<!-- Replace Static Data with variables -->
<div class="container-fluid">

	<div class="row">
		<div id="title">
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px">GDG DevFest
				around the world !</h1>
		</div>
		<hr class="thin-line">
	</div>
	<div class="span3">
		<div class="row">
			<span style="margin-left: 5px"> <img src="images/gdgbig.png">

			</span>
		</div>
	</div>
	<div id="event-list-container">
		<div class="span12">
			<div class="row">
        <div class="event-column">
          {% for country, events in events.get_first_half().items(): %}
					<ul class="event-no-bullets">
						<li>
							<div class="row span6">
                <h3>{{ country }}</h3>
                <ul class="event-no-bullets">
                  {% for event in events %}
                  <li>
                      <!-- Type of Event- Use <i> tag and class icon-event-* -->
                      {% if '1' in event.agenda %}
                        <i class="icon-event icon-event-conf"></i>
                      {% endif %}
                      {% if '2' in event.agenda %}
                        <i class="icon-event icon-event-hack"></i>
                      {% endif %}
                      {% if '3' in event.agenda %}
                        <i class="icon-event icon-event-barcamp"></i>
                      {% endif %}
                      {% if '4' in event.agenda %}
                        <i class="icon-event icon-event-live"></i>
                      {% endif %}
                    <h4><a href="/event/{{ event.key() }}">DevFest {{ event.city }}</a></h4>
										<!-- Event Address & Date -->
                    <h5>{{ event.location }}</h5>
                    <h6>{{ event.start.strftime("%Y-%m-%d") }}</h6>
                     <br><a class="label label-info" href="#">Register Now</a>
                  </li>
                  {% endfor %}
								</ul>
							</div>
						</li>
          </ul>
          {% endfor %}
        </div>
	      <div class="event-column">
          {% for country, events in events.get_second_half().items(): %}
					<ul class="event-no-bullets">
						<li>
							<div class="row span6">
                <h3>{{ country }}</h3>
                <ul class="event-no-bullets">
                  {% for event in events %}
                  <li>
                      <!-- Type of Event- Use <i> tag and class icon-event-* -->
                      {% if '1' in event.agenda %}
                        <i class="icon-event icon-event-conf"></i>
                      {% endif %}
                      {% if '2' in event.agenda %}
                        <i class="icon-event icon-event-hack"></i>
                      {% endif %}
                      {% if '3' in event.agenda %}
                        <i class="icon-event icon-event-barcamp"></i>
                      {% endif %}
                      {% if '4' in event.agenda %}
                        <i class="icon-event icon-event-live"></i>
                      {% endif %}
                    <h4><a href="/event/{{ event.key.id }}">DevFest {{ event.city }}</a></h4>
										<!-- Event Address & Date -->
                    <h5>{{ event.location }}</h5>
                    <h6>{{ event.start.strftime("%Y-%m-%d") }}</h6>
                    <br><a class="label label-info" href="#">Register Now</a>
                  </li>
                  {% endfor %}
								</ul>
							</div>
						</li>
          </ul>
          {% endfor %}
        </div>
					
			</div>
		</div>
	</div>
</div>

{% endblock %}
