{% extends "global.html" %}
{% block head %}
{% endblock %}

{% block document_ready %}
{% endblock %}


{% block content %}
<div class="container-fluid">

	<div class="row">
		<div id="title">
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px">FAQs !</h1>
		</div>
		<hr class="thin-line">
	</div>

	<div class="row-fluid">
		<div class="span3">
			<div class="row">
				<span style="margin-left: 5px"> <img src="/images/gdgbig.png">

				</span>
			</div>
		</div>

		<div class="span9">
			<div class="row">
				<div id="gdg-container">
					<div class="events">
						<div class="row">
							<div class="span16">
								<div class="eventtype">
									<img src="/images/live.png" alt="Google Developer Live event">
									<h1>Google Developer Live Sessions</h1>
									<h3>Tagline</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing
										elit, sed do eiusmod tempor incididunt ut labore et dolore
										magna aliqua. Ut enim ad minim veniam, quis nostrud
										exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate
										velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
										sint occaecat cupidatat non proident, sunt in culpa qui
										officia deserunt mollit anim id est laborum.</p>
									<a class="label label-important" href="#">Find one near you</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span16">
								<div class="eventtype">
									<img src="/images/events.png" alt="Events">
									<h1>Events</h1>
									<h2>Event Tagline</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing
										elit, sed do eiusmod tempor incididunt ut labore et dolore
										magna aliqua. Ut enim ad minim veniam, quis nostrud
										exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate
										velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
										sint occaecat cupidatat non proident, sunt in culpa qui
										officia deserunt mollit anim id est laborum.</p>
									<a class="label label-info" href="#">Find one near you</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span16">
								<div class="eventtype">
									<img src="/images/barcamp.png" alt="BarCamp">
									<h1>BarCamp</h1>
									<h2>BarCamp Tagline</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing
										elit, sed do eiusmod tempor incididunt ut labore et dolore
										magna aliqua. Ut enim ad minim veniam, quis nostrud
										exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate
										velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
										sint occaecat cupidatat non proident, sunt in culpa qui
										officia deserunt mollit anim id est laborum.</p>
									<a class="label label-warning" href="#">Find one near you</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span16">
								<div class="eventtype">
									<img src="/images/hack.png" alt="Hackathon">
									<h1>Hackathon</h1>
									<h2>Hackathon Tagline</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing
										elit, sed do eiusmod tempor incididunt ut labore et dolore
										magna aliqua. Ut enim ad minim veniam, quis nostrud
										exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate
										velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
										sint occaecat cupidatat non proident, sunt in culpa qui
										officia deserunt mollit anim id est laborum.</p>
									<a class="label label-success" href="#">Find one near you</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
