{% extends "global.html" %}

{% block head %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&sensor=true"></script>
{% endblock %}

{% block document_ready %}
var mapOptions = {
  center: new google.maps.LatLng(0, 0),
  zoom: 2,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};
  var map = new google.maps.Map(document.getElementById("create_map_canvas"), mapOptions);

var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);

{% endblock %}


{% macro with_errors(field) %}
<div class="form_field">
  {{ field.label }}
  {% if field.description %}
  <div><small>{{ field.description }}</small></div>
  {% endif %}
   {% if field.errors %}
    {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, **kwargs) }}
    <div class="error">
    <ul class="alert alert-error">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
        </div>
  {% else %}
    {{ field(**kwargs) }}
  {% endif %}
  </div>
{% endmacro %}

{% block content %}

<div class="container-fluid">

	<div class="row">
		<div id="title">
		    {% if edit %}
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px">Create your GDG DevFest!</h1>
			{% else %}
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px">Update your GDG DevFest!</h1>
			{% endif %}
		</div>
		<hr class="thin-line">
	</div>
	
	   <div class="row-fluid">
			<div class="span3">
				<div class="row">
					<span style="margin-left: 5px"> <img src="/images/gdgbig.png">
		
					</span>
				</div>
			</div>
	
			<div class="span9">
						<div class="row">
						<div id="gdg-create-event">
							
              <form method="post" class="form-horizontal" enctype="multipart/form-data" action="{{ form_url }}">
                  {% if edit %}<input type="hidden" name="edit" value="{{ edit }}">{% endif %}
												{% if created_successful %}
												<div class="alert alert-success">Event Created Successfully ! Happy Organizing !</div>
												{% endif %}
												<br>
												<h3>Basic Details</h3>
												<hr>
												<div id="create_map_canvas"></div>
												  {{ with_errors(form.gplus_event_url) }}
												  {{ with_errors(form.external_url) }}
												  {{ with_errors(form.external_width) }}
												  {{ with_errors(form.external_height) }}
												  {{ with_errors(form.location) }}
												  {{ with_errors(form.status) }}
												  {{ with_errors(form.logo) }}
												<br><br>
												<h3>Event Details</h3>
												<hr>
												  {{ with_errors(form.agenda) }}
												
												  {{ with_errors(form.start) }}
                          {{ with_errors(form.end) }}
                        <hr>
                          {{ with_errors(form.gdg_chapters) }}
                          {{ with_errors(form.technologies) }}
                          {{ with_errors(form.kind_of_support) }}
                          {{ with_errors(form.subdomain) }}
												  <div>
												    <input type="submit" />
												  </div>
												</form>
										
											
											
											
							</div>
					</div>
			</div>
		</div>	
	
	</div>
	
	
	




{% endblock %}
