{% extends "global.html" %}

{# extend this template for all event-editing, e.g. speakers, sponsors, ... #}

{# use the variable 'subtype' to specify any of: #}
{#   base (the basic event data) #}
{#   speaker (speakers of an event) #}
{#   sponsor (sponsors of an event) #}
{#   session (sessions of an event) #}
{#   register (handling of registrations) #}

{# use the variable 'event' to indicate the id of the event. #}
{# if this variable is not set it is assumed that this is a new event, #}
{# where only base data can be set. #}

{% set subtitle = "Basic Information" %}
{% if event %}
  {% set class_base = "label event-link" %}
  {% set class_speaker = "label event-link" %}
  {% set class_sponsor = "label event-link" %}
  {% set class_session = "label event-link" %}
  {% set class_register = "label event-link" %}
  {% if subtype == "base" %}
    {% set subtitle = "Basic Information" %}
    {% set class_base = "label active-event-link" %}
  {% elif subtype == "speaker" %}
    {% set subtitle = "Speaker list" %}
    {% set class_speaker = "label active-event-link" %}
  {% elif subtype == "sponsor" %}
    {% set subtitle = "Sponsor list" %}
    {% set class_sponsor = "label active-event-link" %}
  {% elif subtype == "register" %}
    {% set subtitle = "Registration handling" %}
    {% set class_register = "label active-event-link" %}
  {% elif subtype == "session" %}
    {% set subtitle = "Session list" %}
    {% set class_session = "label active-event-link" %}
  {% else %} 
    {% set subtitle = "Other information" %}
  {% endif %}
{% endif %}

{% macro with_errors(field) %}
<div class="form_field">
  {{ field.label }}
  {% if field.description %}
  <div><small>{{ field.description }}</small></div>
  {% endif %}
   {% if field.errors %}
    {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, **kwargs) }}
    <div class="error">
    <ul class="alert alert-error">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
        </div>
  {% else %}
    {{ field(**kwargs) }}
  {% endif %}
  </div>
{% endmacro %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="title">
      {% if event %}
      <h1 style="font-size: 25px; float: none; margin-bottom: 10px">
        Edit GDG DevFest
        {% if event.city %}{{event.city}}{% else %}{{event.location}}{% endif %}
      </h1>
      <a class="label label-important" href="/event/delete/{{event}}" onclick="return confirm('Are you sure you want to delete the event?')">Delete event</a>
      {% else %}
      <h1 style="font-size: 25px; float: none; margin-bottom: 10px">
        Create your GDG DevFest!
      </h1>
      {% endif %}
    </div>
    <hr class="thin-line">
  </div>
  <div class="row-fluid">
    <div class="span3">
      <div class="row">
        <span style="margin-left: 5px">
          <img src="/images/gdgbig.png">
        </span>
      </div>
      {% if event %}
      <a href="/event/edit/{{event.key()}}">
        <div class="row {{class_base}}">
          Basic Information
        </div>
      </a>
      <a href="/event/speakers/edit/{{event.key()}}">
        <div class="row {{class_speaker}}">
          Speaker list
        </div>
      </a>
      <a href="/event/sponsors/edit/{{event.key()}}">
        <div class="row {{class_sponsor}}">
          Sponsor list
        </div>
      </a>
      <a href="/event/sessions/edit/{{event.key()}}">
        <div class="row {{class_session}}">
          Session list
        </div>
      </a>
      <a href="/event/register/edit/{{event.key()}}">
        <div class="row {{class_register}}">
          Registration handling
        </div>
      </a>
      {% endif %}
    </div>
    <div class="span9">
      <div class="row">
        <div id="gdg-edit-event">
          <form method="post" class="form-horizontal"
                enctype="multipart/form-data" action="{{ form_url }}">
            {% if event %}
              <input type="hidden" name="event" value="{{event.key()}}">
            {% endif %}
            {% if created_successful %}
              <div class="alert alert-success">Event Created Successfully!
                    Happy Organizing !</div>
            {% elif modified_successful %}
              <div class="alert alert-success">Event Modified Successfully!
                    Happy Organizing !</div>
            {% endif %}
            <br>
            <h2>{{subtitle}}</h2>
            {% block formfields %}{% endblock %}
            {% if event %}
              <div><input type="submit" value="Update Event"></div>
            {% else %}
              <div><input type="submit" value="Create Event"></div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
