{% extends "global.html" %}
{% block head %}
<style>
.eventtype img{
width:110px;
height:127px;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div id="title">
      <h1>DevFestW FAQ</h1>
    </div>
    <hr class="thin-line">
  </div>

  <div class="row-fluid">
    <div class="span3">
      <div class="row">
        <span style="margin-left: 5px">
          <img src="/images/devfestw.png">
        </span>
      </div>
    </div>

    <div class="span9">
      <div class="row">
        <div id="gdg-container">

          <ul class="unstyled" id="faqlist">
            <li>
              <h3>Q: What is a DevFestW?</h3>
              <p>DevFestW is a series of community-led events that have technical sessions centered around 
              Google developer technologies and platforms. DevFestW is focused specifically on bringing 
              together women in the local developer community to teach, learn, code and network.</p>
              <p>Similar in spirit to a regular DevFest, each DevFestW event should be tailored to 
              the needs of the hosting developer community.</p>
              <p>
              <b>DevFestW is happening from now until March 10th!</b> 
              </p>
            </li>
            
            <li>
              <h3>Q: How is DevFestW different from any other DevFest?</h3>
              <ol>
              <li><p><b>Women focus</b></p>
              <p>
              While both events are similar, DevFestW has an emphasis on female inclusion. 
              What form this element takes will depend on local interest and needs, 
              but here are some things to consider during the planning process:
			 </p>
             <p><b>Women speakers</b><br/>
             Make a concerted effort to recruit good women speakers. Include them in the planning process 
             and bring in their communities.
			 </p>
			 <p><b>Women organizers</b><br/>
              If no one on the regular organizing committee is a woman, this is a great opportunity 
              to seek out potential women organizers to champion this event and diversity in your local group.
              </p>

             <p><b>Partnerships with local women developer organizations.</b><br/>
             You'll likely need to partner up with an organization primarily focused on women in technology to:
             </p>
             
             <ul>
             <li>Get feedback on what women devs would like to see at the event</li>
             <li>Promote the event</li>
             <li>Find women speakers/panelists</li>
			 </ul>
			 
             <p>All of this is, of course, a 2-way street, so organizers should look for ways to 
             have an ongoing relationship in the future (e.g. co-promoting events, sharing speakers, etc.).
			 </p>
			 
			 <p>Some examples of groups in the Bay Area are Girl Develop It, 
			 Women Who Code, Women 2.0. Here is a list of organizations dedicated to women in tech. 
			 You can also search sites like meetup.com to find local groups. Many universities also have 
			 Women in Engineering clubs on campus that you may try to reach out to for potential attendees.
			 </p>

              </li>
              
              <li><p><b>Duration</b></p>
              <p>
              DevFests generally span anywhere from 6-hours to 2-days. In order to make DevFestW as 
              accessible as possible, there is <b>no minimum duration requirement</b> for the event. 
              Instead, we encourage all relevant events, big or small, to participate in this initiative. 
              This means a DevFestW event may include anything from a full-on 2-day speaker series + hackathon 
              event, to a 2-hr group code lab. It's up to you.</p>

              <p>Hold your event anytime between now and March 10, 2013 to be included in DevFestW season.</p>              
              </li>
              
              <li><p><b>Content</b></p>
              <p>Like a regular DevFest, the content should still have an emphasis on Google developer 
              platforms/products -- whether that be a free form hackathon, code lab, or technical lecture. 
              You should also get feedback from women in your community to see if there is demand for 
              sessions like Q&A/panel sessions with prominent women tech leaders in the local community.
              </p>

             <p>Some communities report that having a structured, beginner-friendly atmosphere 
             tends to promote more equal gender.</p>
             </li>
             
              </ol>             
            </li>
            
            <li>
              <h3>Q: Are DevFestW events women-only?</h3>
              <p>DevFestW is not intended to be women-only, but is instead an opportunity for 
              developer communities to be more mindful of female inclusion. 
              However, if an exclusive event is determined to be the most culturally 
              appropriate to the hosting community, this is certainly acceptable.</p>
            </li>
            <li>
              <h3>Q: Why DevFestW?</h3>
              <p>Google believes diversity and inclusion is important for thriving, 
              vibrant communities. Focusing on women-inclusion is the first step in a 
              larger effort to diversify the global Google developer community. The 
              GDG community has shown great interest in this initiative, so we are 
              offering them the reigns to push it forward with a women-focused DevFest.</p>
              
              <p>
              Google will be hosting GDG Silicon Valley DevFestW event in Mountain View, 
              CA on March 1-2, 2013. More details on agenda and live streaming access to come.</p>
            </li>

            <li>
              <h3>Q: Who can organize a DevFest?</h3>
              <p>Invitation to host DevFest is being extended to
                active GDG chapters listed in the <a href="https://developers.google.com/groups/directory/" style="color:#08F">directory</a>. 
                In case someone wants to
                organize a GDG DevFest in a city with no GDG chapter then the
                first step should be to start a GDG chapter in that city. In
                addition to the GDG chapters, we are inviting chapters who have
                decided to stay with the GTUG branding to also plan and organize
                GTUG DevFests.</p>
            </li>
            
            <li>
              <h3>Q: How can I have DevFestW in my region listed on the website?</h3>
              <p>Please fill <a href="/event/create" style="color:#08F">this</a>
              form to let us know of your DevFest plans. All the proposals
              submitted through this form would be listed on the website.</p>
            </li>
            <li>
            <h3>Q: What branding to use for the DevFestW in my region?</h3>
              <p>Please refer to the logo generator tools under "Branding" tab.</p>
            </li>
            
          </ul>
          <br><br>
          <h1>Event Badges</h1>
          <hr>
          <div class="events">
            <div class="row">
              <div class="span16">
                <div class="eventtype">
                  <img src="/images/live.png" alt="Google Developer Live event">
                  <h1>Google Developer Live Sessions</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span16">
                <div class="eventtype">
                  <img src="/images/events.png" alt="Events">
                  <h1>Conference</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span16">
                <div class="eventtype">
                  <img src="/images/barcamp.png" alt="BarCamp">
                  <h1>BarCamp</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span16">
                <div class="eventtype">
                  <img src="/images/hack.png" alt="Hackathon">
                  <h1>Hackathon</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
