{% extends "global.html" %}
{% block head %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&sensor=true"></script>
{% endblock %}
{% block head2 %}
<script type="text/javascript" src="js/lib/jquery.ui.map.min.js"></script>
{% endblock %}
{% block document_ready %}
/*
var mapOptions = {
  center: new google.maps.LatLng(0, 0),
  zoom: 2,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};
var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
*/
var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
po.src = 'https://apis.google.com/js/plusone.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);

{% endblock %}

{% block content %}
<div class="hero-unit" style="padding:30px;">	
	<div id="title">
		<h1 style="font-size:25px;">GDG DevFest locations</h1>
		<div class="plusonec">
		<div class="g-plusone" data-size="small" data-annotation="inline" data-width="300"></div>			
		</div>
	</div>
  <div id="map_canvas"></div>
</div>	
<script type="text/javascript">
$('#map_canvas').gmap().bind('init', function() {
  var dateFormat = function(datVal) {
    if (typeof datVal === 'string') {
      var parts = /^(\d{4})-(\d{2})-(\d{2})T/.exec(datVal);
      if (parts) {
        var utcMilliseconds = Date.UTC(parts[1], parts[2] - 1, parts[3]);
        return new Date(utcMilliseconds).toDateString();
      }
    }
    return datVal;
  }
  $.getJSON('/json/events', function(data) {
    $.each(data, function(i, event) {
      var name = event.name || event.city || event.location;
      var start = dateFormat(event.start);
      var end = dateFormat(event.end);
      var dateText;
      if (start != end) {
        dateText = start + ' - ' + end;
      }
      else {
        dateText = start;
      }
      $('#map_canvas').gmap('addMarker', {
        'position': new google.maps.LatLng(event.lat, event.lon),
        'bounds': true
      }).click(function() {
        $('#map_canvas').gmap('openInfoWindow', {
          'content': '<b>DevFest ' + name + '</b><br><br>' +
            'Event Date: ' + dateText,
        }, this);
      });
    });
  });
});
</script>
<div class="row-fluid">
		<div class="span4" >
			<h2 id="xheadings">GDG DevFest</h2>
			<hr>
			<img src="/images/gdg-home-devfest.jpg" alt="GDG" class="gdg-home-image" width="600">
			<p style="text-align:justify">
			GDG DevFests are large scale community-run events that can offer speaker sessions across Google product areas, all-day hack-a-thons or both.  
			Each GDG DevFest will be inspired by and uniquely tailored to the needs of the developer community that hosts it.  
			But while no two events will be exactly alike, each GDG DevFest will, at its core, 
			be powered by a shared belief that when developers come together to exchange ideas, amazing things can happen.
			</p>
			<p>
				<a class="btn" href="/about">View details &raquo;</a>
			</p>
		</div>
		<div class="span4">
			<h2  id="xheadings">Find a GDG DevFest around you!</h2>
			<hr>
			<img src="/images/gdg-home-around.jpg" alt="GDG" class="gdg-home-image" width="600">
			<p style="text-align:justify">If you can't find a GDG DevFest near you feel free to contact your local Google Developer Group.</p>
			<p>
				<a class="btn" href="/events">View details &raquo;</a>
			</p>
		</div>
		<div class="span4">
		
			<h2  id="xheadings"> Google Developer Groups</h2>
			<hr>
				<img src="/images/gdg-home.jpg" alt="GDG" class="gdg-home-image" width="600">
			<p style="text-align:justify">Google Developer Groups (GDGs) are for developers who are interested in Google's developer technology; 
			everything from the Android, App Engine, and Google Chrome platforms, to product APIs like the Maps API, YouTube API and Google Calendar API.</p>
			<p>
				<a class="btn" href="https://developers.google.com/groups/">View details &raquo;</a>
			</p>
		</div>
		
</div>

{% endblock %}
