{% set subtype = "session" %}
{% extends "event_base.html" %}

{% block head %}
<link href="/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block head2 %}
<script type="text/javascript" src="/js/lib/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#add_session').click(function() {
    clone_field_list('#sessions li:last');
  });
  handle_delete_buttons('#sessions');
});
$(document).ready(function() {
  $('#add_track').click(function() {
    clone_field_list('#tracks li:last');
  });
  handle_delete_buttons('#tracks');
});

function handle_delete_buttons(selector) {
  if ($(selector).children('li').length < 2) {
    // remove delete button
    $(selector).children('li').each(function() {
      $(this).children('label')[0].innerHTML = "";
    });
  }
  else {
    // add delete buttons
    $(selector).children('li').each(function() {
      var label = $(this).children('label')[0];
      var id = $(this).children('table').attr('id');
      label.innerHTML = "<input type='button' onclick='del_field(\"" +
            id + "\",\"" + selector + "\");' value='delete' />";
    });
  }
}

function del_field(id,selector) {
  $('#' + id).parent().remove();
  handle_delete_buttons(selector);
}

function clone_field_list(selector) {
  var new_element = $(selector).clone(true);
  var elem_id = new_element.find('input')[0].id;
  var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
  new_element.find(':input').each(function() {
    var id = $(this).attr('id').replace('-' + (elem_num - 1) + '-', '-' + elem_num + '-');
    $(this).attr({'name': id, 'id': id}).val('').removeAttr('checked');
  });
  new_element.find('label').each(function() {
    var new_for = $(this).attr('for').replace('-' + (elem_num - 1) + '-', '-' + elem_num + '-');
    $(this).attr('for', new_for);
  });
  new_element.children('label')[0].innerHTML = "New";
  $(selector).after(new_element);
  handle_delete_buttons(selector);
}
</script>
{% endblock %}

{% block formfields %}
{{ with_errors(form.tracks) }}
<input type="button" id="add_track" value="add track">
{{ with_errors(form.sessions) }}
<input type="button" id="add_session" value="add session">
<script type="text/javascript">
  $('#start').datetimepicker({dateFormat:'yy-mm-dd'});
  $('#end').datetimepicker({dateFormat:'yy-mm-dd'});
</script>
{% endblock %}
