{% extends "global.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="title">
      <h1 style="font-size: 25px; float: none; margin-bottom: 10px">DevFest {% if event.name %}{{event.name}} {%elif event.city %}{{ event.city }}{% else %}{{ event.location }}{% endif %}!</h1>
    </div>
    <hr class="thin-line">
  </div>

  <div class="row-fluid">
    <div class="span3">
      <div class="row">
        <span style="margin-left: 5px"> 
        {% if event.logo %}
        <img src="/blob/{{event.logo}}">
        {% else %}
        <img src="/images/gdgbig.png">
        {% endif %}
        </span>

        {% if (sponsors|length) > 0 %}             
             <span id="gdg-sponsor-container">
             <h1>Sponsors</h1>
             <!-- TODO sort groups by sponsor level -->             
             {% for level, sponsors in sponsors|groupby("level")|sort %}
               {% for sponsor in sponsors %}
               {% if sponsor.level %}
                 <span class="sponsor level-{{sponsor.level}}">
               {% else %}
                 <span class="sponsor">
               {% endif %}                  

                 {% if sponsor.gplus_id %}
                   <a style="color:black;" href="https://plus.google.com/{{sponsor.gplus_id}}">
                   <img  src="/blob/{{sponsor.logo}}">
                   {{sponsor.name}}</a>
                 {% else %}
                   <img  src="/blob/{{sponsor.logo}}">
                   {{sponsor.name}} 
                 {% endif %}
                 <br>{{sponsor.description}}
                 {% if sponsor.url %}
                   <br>
                   <a style="color:black; float:right;" href="{{sponsor.url}}">Visit website</a>
                 {% endif %}
                 <hr class="thin-line">
               </span>
               {% endfor %}  
               <hr>                
             {% endfor %}
             </span> 
           {% endif %}

      </div>
    </div>

    <div class="span9">
      <div class="row">
        <div id="gdg-container">
            <h1>DevFest {% if event.name %}{{event.name}} {%elif event.city %}{{ event.city }}{% else %}{{ event.location }}{% endif %}</h1>
            {% if user in event.organizers or is_admin %}
            <a href="/event/edit/{{event.key()}}" class="label label-info">Edit the event</a>
            {% endif %}
            <a href="#" class="label">Home</a>
            <a href="/event/agenda/{{event.key()}}" class="label label-info">Agenda</a>
            <hr>
            <div class="eventtype well">
             <!-- Type of Event- Use <i> tag and class icon-event-* -->
            {% if '1' in event.agenda %}
              <i class="icon-event icon-event-conf"></i>
            {% endif %}
            {% if '2' in event.agenda %}
              <i class="icon-event icon-event-hack"></i>
            {% endif %}
            {% if '3' in event.agenda %}
              <i class="icon-event icon-event-barcamp"></i>
            {% endif %}
            {% if '4' in event.agenda %}
              <i class="icon-event icon-event-live"></i>
            {% endif %}
            <h3>{{event.location}}</h3><br/>
            {% if event.start %}
           <h5> Start: {{event.start|datetime}}</h5><br/>
            {% endif %}
            {% if event.end %}
            <h5>End: {{event.end|datetime}}</h5><br/>
            {% endif %}
            <div class="descp">
            <span class="description">
            <h3>
            Description</h3>
            {{event.agenda_description}}
            </span>
            <br><br>
            {% if event.external_url %}
              {% if event.external_width %}
                <iframe src="{{ event.external_url }}" width="{{ event.external_width }}" height="{{ event.external_height }}" style="border: 0;" border="0">
                </iframe>
                <br><br>
              {% else %}
                <a href="{{event.external_url}}"> Visit website</a>
              {%endif%}
            {% endif %}
           {% if event.end and event.end > current_date  %} 
             {% if user in event.participants %}
               <span class="label">You are registered!</span>
             {% elif has_registration %}
               <a class="label label-info" href="/event/register/{{ event.key() }}">Register Now</a>
             {% endif %}  
           {% endif %}  
           </div>
                                 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
