{% extends "global.html" %} 
{% block head %} 
{% endblock %} 

{% block document_ready %} 
{% endblock %} 

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div id="title">
      <h1 style="font-size: 25px; float: none; margin-bottom: 10px"> DevFest {{event.city}}!</h1>
    </div>
    <hr class="thin-line">
  </div>

  <div class="row-fluid">
    <div class="span3">
      <div class="row">
        <span style="margin-left: 5px"> <img src="/images/gdgbig.png">
        </span>
      </div>
    </div>

    <div class="span9">
      <div class="row">
        <div id="gdg-container">
            <h1>{% if event.city %}{{ event.city }}{% else %}{{ event.location }}{% endif %}</h1>
            {% if user in event.organizers or is_admin %}
            <a href="/event/edit/{{event.key()}}" class="label label-info">Edit the event</a> 
            {% endif %}
            <a href="/event/{{event.key()}}" class="label label-info">Home</a>
            <a href="#" class="label">Agenda</a>
            <hr>


<table>  
  {% for slot in slots|sort(attribute='start') %}
       <tr>
       <td>
         {{ slot.start}} - {{ slot.end}}
       </td>
         
       {% for session in sessions.room_list %}                                    
       <td>
         {{ session }}, {{ session.room }}
      </td>
           
  		{% endfor %}
  	{% endfor %}
  	</tr>
 </table>
         
        </div>
      </div>
    </div>
  </div>
</div>
            
{% endblock %}
