{% extends "global.html" %}
{% block head %}
{% endblock %}

{% block document_ready %}
{% endblock %}

{% block content %}
<div class="container-fluid">

	<div class="row">
		<div id="title">
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px"> DevFest {{event.city}}!</h1>
		</div>
		<hr class="thin-line">
	</div>

	<div class="row-fluid">
		<div class="span3">
			<div class="row">
				<span style="margin-left: 5px"> <img src="/images/gdgbig.png">

				</span>
			</div>
		</div>

		<div class="span9">
			<div class="row">
				<div id="gdg-container">
						<h1>{{event.city}}</h1>
						<hr>
						<div class="eventtype">
						<img src="{{event.gplus_img_url}}">
						{{event.start}}
						{{event.agenda}}
					
					<br><br>
						
					<a class="label label-important" href="#">Register Now</a>
				</div>
						
				</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
