{% extends "global.html" %} 
{% block head %} 
{% endblock %} 

{% block document_ready %} 
{% endblock %} 

{% block content %}
<div class="container-fluid">

	<div class="row">
		<div id="title">
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px">
				V Hack Android</h1>
		</div>
		<a class="label" href="#" >Home</a>
		<a class="label label-info" href="/vhackandroid/sponsors" >Sponsors</a>
		
		<hr class="thin-line">
	</div>

    <div class="row">
    
    <div class="column" style="float:left;width:80%">
    
	<div class="row-fluid">
	
		<div class="span3">
			<span style="margin-left: 5px"> <img src="/images/vhabig.png">

			</span>
		</div>

		<div class="span9">
			<div id="gdg-container">
				<p class="lead">Android's 5th Birthday Celebration: European Best-of-Best
					Hackathon Series
				<p>

				<p class="about-text">Android became public on November 5th, 2007.
					That means it'll be 5 years of Android this November (2012)! Can't
					let this go by unnoticed! So the developer user groups
					(GDGs/GTUGs/AUGs) decided to organize an Android app hackathon
					tournament (think GADC but with higher stakes).</p>

				<p class="about-text">In September/October 2012 you can participate in
					a local hackathon organized by your GTUG. Each winning team
					receives a chance to defend their user group in a final European
					hackathon in London. We pay your flight and hotel. This TopGun
					hackathon takes place on the weekend of October 26th-28th, right
					after Droidcon London.</p>

				<p class="about-text">Android developers from all over Europe will
					come together from tens of locations and hack for 48 hours -
					nonstop! Prizes are to be announced.</p>

				<p class="about-text">You can follow the livestream of the major
					events in September and on October 26th-28th or interact with us
					during public Hangouts on <a href="https://plus.google.com/104578858113292768239">Google+</a>. Our developer wiki has a
					list of hacks.</p>

				<div class="well">
					Hashtag: #AndroidV </br> Remember, remember, the fifth of November! </br> <b>See
						all <a href="events?vha=true">VHackAndroid events here</a></b>. 
				</div>

			</div>
		</div>
	</div>
	<br> <br> <br>
	<div class="row-fluid">

		<div class="span2">
			<div id="gdg-circle">
				<h3 align="center">Amsterdam</h3>
				<p class="centered">
					<img src="/images/vha_amsterdam.jpg" />
				</p>
			</div>
		</div>
		<div class="span2">
			<div id="gdg-circle">
				<h3 align="center">Ankara & Istanbul</h3>
				<p class="centered">
					<img src="/images/vhabig.png" />
				</p>
			</div>
		</div>
		<div class="span2">
			<div id="gdg-circle">
				<h3 align="center">Berlin</h3>
				<p class="centered">
					<img src="/images/vhabig.png" />
				</p>
			</div>
		</div>
		<div class="span2">
			<div id="gdg-circle">
				<h3 align="center">Belgium</h3>
				<p class="centered">
					<img src="/images/vha_belgium.png" />
				</p>
			</div>
		</div>
		<div class="span2">
			<div id="gdg-circle">
				<h3 align="center">Bremen</h3>
				<p class="centered">
					<img src="/images/vha_bremen.png" />
				</p>
			</div>
		</div>
		<div class="span2">
			<div id="gdg-circle">
				<h3 align="center">Finale London</h3>
				<p class="centered">
					<img src="/images/vhabig.png" />
				</p>
			</div>
		</div>
	</div>

    <div class="row-fluid">
    			
    			<div class="span2">
			<h2 align="center">Amsterdam</h2>
			<h3 align="center">Local Gold</h3>
			<p class="centered">
				<img src="/images/luminis.png" /> <img src="/images/itude.png" />
				<img src="/images/egeniq.png" />
			</p>
			<h3 align="center">Local Silver</h3>
			<p class="centered">
				<img src="/images/droidconnl.png" /> <img
					src="/images/vxcompany.jpg" />
			</p>
			</div>
			<div class="span2">
			<h2 align="center">Ankara & Istanbul</h2>
			<h3 align="center">Local Gold</h3>
			<h3 align="center">Local Silver</h3>
			</div>
			<div class="span2">
			<h2 align="center">Belgium</h2>
			<h3 align="center">Local Silver</h3>
			<p class="centered">
				<img src="/images/startapp.png" /> <img src="/images/enoll.png" />
			</p>
			</div>
			<div class="span2">
			<h2 align="center">Berlin</h2>
			<h3 align="center">Local Gold</h3>
			<h3 align="center">Local Silver</h3>
			</div>
			<div class="span2">
			<h2 align="center">Bremen</h2>
			<h3 align="center">Local Gold</h3>
			<p class="centered">
				<img src="/images/neusta.png" />
			</p>
			<h3 align="center">Local Silver</h3>
			<p class="centered">
				<img src="/images/enoughsoftware.png" />
			</p>
    
    </div>	
	</div>	
	</div>
		
	<div class="column" style="float:right;width:20%">
	<div class="row-fluid"
			<div class="span5">
			<h2 align="center">Global</h2>
			<h3 align="center">Silver</h3>
			<p class="centered">
				<img src="/images/alcatel.png" width="500" /> <br> <img
					src="/images/sony.png" />
			</p>
			<br> <br>
			<h2 align="center">Global Partners</h2>
			<p class="centered">
				<img src="/images/Google.png" /> <img src="/images/wip.png" /> <img
					src="/images/skills-matter.png" /> <br> <img
					src="/images/springboard.png" /> <img src="/images/oreilly.png" />
				<img src="/images/.png" />
			</p>
		</div>	
	</div>
</div>


				<div class="disclaimer-text" align="center">Disclaimer: V Hack Android is an
					independent event organized by mostly GTUGs/GDGs; our activities
					and the opinions expressed here and on related pages should in no
					way be linked to the Google corporation, or the OHA.</div>

{% endblock %} 