{% extends "global.html" %}
{% block content %}
<div class="container-fluid" id="page_vhackandroid">

  <div class="row">
    <div id="title">
      <h1>V Hack Android</h1>
    </div>
    <a class="label" href="#">Home</a>
    <a class="label label-info" href="/vhackandroid/sponsors">Sponsors</a>
    <hr class="thin-line">
  </div>
  <div class="row">
    <div class="row-fluid">

      <div class="span2">
        
        <div>
          <div><a style="color: #000" href="https://plus.google.com/events/c6hmo8uib9vheuod8a7tlc9p33s">
          
	        <span style="margin-left: 5px">
	          <img src="/images/vhabig.png" alt="V Hack Android Logo" />
	        </span>
	        
	        <br />
	        <br />
	        <br />
	        <br />
	        <br />
	        <br />
            <h2 align="center">Finale London</h2>
            <h3 align="center">Oct. 26-28</h3></a>
          </div>
        </div>
      </div>

      <div class="span7">
        <div id="gdg-container">
          <h2>Android's 5th Birthday Celebration:<br />European Best-of-Best Hackathon Series</h2>

          <p>
            Android became public on November 5th, 2007. That means it'll be 5
            years of Android this November! Can't let this go by unnoticed! So
            the developer user groups (GDGs/GTUGs/AUGs) decided to organize
            this Android app hackathon tournament called <b>V Hack Android</b>
            (think GADC but with higher stakes).
          </p>

          <p>In September/October 2012 you can participate
            in a local hackathon organized by your GDG. Each winning team
            receives a chance to defend their user group in a final European
            hackathon in London. We pay your flight and hotel. This TopGun
            hackathon takes place on the weekend of October 26th-28th, right
            after Droidcon London.</p>

          <p>Android developers from all over Europe will
            come together from tens of locations and hack for 48 hours -
            nonstop! There are many prizes and of course the challenge to be
            the best Android app developer.</p>

          <p>
            You can follow the livestream of the major events in September and
            on October 26th-28th or interact with us during public Hangouts on
            <a style="color: #08F" href="https://plus.google.com/104578858113292768239">Google+</a>.
            Our developer wiki has a <a style="color: #08F" href="http://vhackandroid.wikia.com/">list of hacks</a>.
          </p>

          <div class="well">
            <p class="lead">Hashtag: <b>#AndroidV</b></p>
            <p>
              <i>Remember, remember, the fifth of November!</i><br />
              See all <a href="/events?vha=true">VHackAndroid events here</a> and below.<br /><br />
              <a href="https://twitter.com/intent/tweet?button_hashtag=androidV&amp;text=V%20Hack%20Android%3A%20"
                class="twitter-hashtag-button" data-size="large"
                data-related="pjv_">Tweet #androidV</a>
              <script>
                !function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                  }
                }(document, "script", "twitter-wjs");
              </script>
            </p>
            <div class="g-plus" data-href="https://plus.google.com/104578858113292768239" data-rel="publisher"></div>
          </div>
        </div>
      </div>
      <div class="span3" id="sponsors_column">
        <h3>Our Sponsors</h3>
        <h4>Global Silver</h4>
        <p class="centered"><a href="http://www.alcatelonetouch.com/">
          <img src="/images/alcatel.png" alt="Alcatel Sponsor Logo" class="sponsorimg" /></a><a href="http://www.sonymobile.com/">
          <img src="/images/sony.png" alt="SONY Sponsor Logo" class="sponsorimg" /></a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-fluid" id="sponsor_container">
      <div class="span2" align="center">
        <div class="fixedratio">
          <div class="dummy"></div>
          <div class="gdg-circle"><a style="color: #000" href="https://plus.google.com/events/cei3tpsehmkg62s740jkdismaps">
            <h2 align="center">Amsterdam</h2>
            <p class="centered">
              <img src="/images/vha_amsterdam.png" alt="V Hack Android Amsterdam Logo" style="height: 50%;" />
            </p>
            <h3 align="center">Sept. 14-16</h3></a>
          </div>
        </div>
        <h4 align="center">Local Gold</h4>
        <p class="centered"><a href="http://www.luminis.eu/en">
          <img src="/images/luminis.png" alt="luminis Sponsor Logo" class="sponsorimg" /></a><a href="http://site.itude.com/">
          <img src="/images/itude.png" alt="ITUDE Sponsor Logo" class="sponsorimg" /></a><a href="http://www.egeniq.com/">
          <img src="/images/egeniq.png" alt="egeniq Sponsor Logo" class="sponsorimg" /></a>
        </p>
        <h4 align="center">Local Silver</h4>
        <p class="centered"><a href="http://www.droidcon.nl/">
          <img src="/images/droidconnl.png" alt="Droidcon Sponsor Logo" class="sponsorimg" /></a><a href="http://www.vxcompany.com/">
          <img src="/images/vxcompany.jpg" alt="VX Company Sponsor Logo" class="sponsorimg" /></a>
        </p>
        <h4 align="center">Partner</h4>
        <p class="centered"><a href="http://www.appsterdam.rs/">
          <img src="/images/appsterdamrs.png" alt="Appsterdam.rs Logo" class="sponsorimg" /></a><a href="http://www.dutchaug.org/">
          <img src="/images/dutchaug.png" alt="Dutch Android User Group Logo" class="sponsorimg" /></a><a href="https://sites.google.com/site/dutchgtug/">
          <img src="/images/gdgnetherlands.png" alt="GDG Netherlands Logo" class="sponsorimg" /></a>
        </p>
      </div>
      <div class="span2" align="center">
        <div class="fixedratio">
          <div class="dummy"></div>
          <div class="gdg-circle"><a style="color: #000" href="https://plus.google.com/events/c564g2egne38ko59m2r971jder8">
            <h2 align="center">Bremen</h2>
            <p class="centered">
              <img src="/images/vha_bremen.png" alt="V Hack Android Bremen Logo" class="vha_small" />
            </p>
            <h3 align="center">Sept. 15</h3></a>
          </div>
        </div>

        <h4 align="center">Local Gold</h4>
        <p class="centered"><a
								href="http://www.team-neusta.de/">
          <img src="/images/neusta.png" alt="Neusta Sponsor Logo" class="sponsorimg" /></a>
        </p>
        <h4 align="center">Local Silver</h4>
        <p class="centered"><a href="http://www.enough.de/">
          <img src="/images/enoughsoftware.png" alt="Enough Software Sponsor Logo" class="sponsorimg" /></a>
        </p>
        <h4 align="center">Partner</h4>
        <p class="centered"><a href="http://bremen.gtugs.org/">
          <img src="/images/gdg-bremen.png" alt="GDG Bremen Logo" class="sponsorimg" /></a>
        </p>
      </div>
      <div class="span2" align="center">
        <div class="fixedratio">
          <div class="dummy"></div>
          <div class="gdg-circle"><a style="color: #000" href="https://plus.google.com/events/cav4q5dic61rr8heg52sh8mne0g">
            <h2 align="center">Belgium</h2>
            <p class="centered">
              <img src="/images/vha_belgium.png" alt="V Hack Android Belgium Logo" class="vha_small" />
            </p>
            <h3 align="center">Oct. 5-7</h3></a>
          </div>
        </div>

        <h4 align="center">Local Silver</h4>
        <p class="centered"><a href="http://www.startapp.com/">
          <img src="/images/startapp.png" alt="StartApp Sponsor Logo" class="sponsorimg" /></a><a href="http://www.openlivinglabs.eu/">
          <img src="/images/enoll.png" alt="European Network of Living Labs Sponsor Logo" class="sponsorimg" /></a>
        </p>
        <h4 align="center">Partner</h4>
        <p class="centered"><a href="http://www.bibliotheekgenk.be/">
          <img src="/images/genk.png" alt="City Genk Logo" class="sponsorimg" /></a><a href="http://www.mobilemonday.be/">
          <img src="/images/mm.jpg" alt="Mobile Monday Logo" class="sponsorimg" /></a><a href="http://www.creativemediadays.be/">
          <img src="/images/creativemediadays.png" alt="Creative Media Days Logo" class="sponsorimg" /></a><a href="http://brussels.gtugs.org/">
          <img src="/images/brugtug.gif" alt="GTUG Brussels Logo" class="sponsorimg" /></a>
        </p>
      </div>
      <div class="span2" align="center">
        <div class="fixedratio">
          <div class="dummy"></div>
          <div class="gdg-circle"><a style="color: #000" href="http://www.paug.fr/conference-paug/paug-conference-days-owf-2012/">
            <h2 align="center">Paris</h2>
            <p class="centered">
              <img src="/images/vhabig.png" alt="V Hack Android Logo" class="vha_small" />
            </p>
            <h3 align="center">Oct. 12-14</h3></a>
          </div>
        </div>

        <h4 align="center">Local Platinum</h4>
        <p class="centered"><a href="http://www.france24.com/">
          <img src="/images/france24.png" alt="France24 Sponsor Logo" class="sponsorimg" /></a><a href="http://www.rfi.fr/">
          <img src="/images/rfi.png" alt="RFI Sponsor Logo" class="sponsorimg" /></a><a href="http://www.legrand.com/">
          <img src="/images/legrand.png" alt="Legrand Sponsor Logo" class="sponsorimg" /></a><a href="http://www.genymobile.com/">
          <img src="/images/genymobile.png" alt="Genymobile Sponsor Logo" class="sponsorimg" /></a>
        </p>
        
        <h4 align="center">Partner</h4>
        <p class="centered"><a href="http://www.ysance.com/">
          <img src="/images/ysance.png" alt="Ysance Partner Logo" class="sponsorimg" /></a><br /><a href="http://www.paug.fr/">
          <img src="/images/paug.png" alt="Paris Android user Group Logo" class="sponsorimg" /></a>
        </p>
      </div>
      <div class="span2" align="center">
        <div class="fixedratio">
          <div class="dummy"></div>
          <div class="gdg-circle"><a style="color: #000" href="http://www.ankara-gtug.org/2012/09/13/v-hack-android-ankara-october-13-iskalesi/">
            <h2 align="center">Ankara</h2>
            <p class="centered">
              <img src="/images/vhabig.png" alt="V Hack Android Logo" class="vha_small" />
            </p>
            <h3 align="center">Oct. 13</h3></a>
          </div>
        </div>

        <h4 align="center">Local Silver</h4>
        <p class="centered"><a href="http://www.startapp.com/">
          <img src="/images/startapp.png" alt="StartApp Sponsor Logo" class="sponsorimg" /></a>
        </p>
        
        <h4 align="center">Partner</h4>
        <p class="centered"><a href="http://www.basarimobile.com/">
          <img src="/images/basarimobile.jpg" alt="Basari Mobile Sponsor Logo" class="sponsorimg" /></a><a href="http://obss.com.tr/">
          <img src="/images/obss.bmp" alt="OBSS Sponsor Logo" class="sponsorimg" /></a><a href="http://www.globile.com.tr/index.html">
          <img src="/images/globile.png" alt="Globile Sponsor Logo" class="sponsorimg" /></a><a href="http://www.iskalesi.com/">
          <img src="/images/iskalesi.png" alt="Iskalesi Partner Logo" class="sponsorimg" /></a><a href="http://www.kafesfirin.com/">
          <img src="/images/kafesfirin.png" alt="Kafes Firin Partner Logo" class="sponsorimg" /></a><a href="http://www.tadimpizza.com.tr/">
          <img src="/images/tadimpizza.png" alt="Tadim Pizza Partner Logo" class="sponsorimg" /></a<a href="http://www.ankara-gtug.org/?lang=en">
          <img src="/images/gdg-ankara.png" alt="GDG Ankara" class="sponsorimg" /></a>
        </p>
      </div>
      <div class="span2" align="center">
        <div class="fixedratio">
          <div class="dummy"></div>
          <div class="gdg-circle"><a style="color: #000" href="https://plus.google.com/101217800488693732043">
            <h2 align="center">Berlin</h2>
            <p class="centered">
              <img src="/images/vhabig.png" alt="V Hack Android Logo" class="vha_small" />
            </p>
            <h3 align="center">Oct. 13-14</h3></a>
          </div>
        </div>

        <h4 align="center">Local Gold</h4>
        <p class="centered"><a href="http://www.immobilienscout24.de">
          <img src="/images/is24.png" alt="IS24 Sponsor Logo" class="sponsorimg" /></a><a href="https://sumup.com/">
          <img src="/images/sumup.png" alt="SumUp Sponsor Logo" class="sponsorimg" /></a>
        </p>
        
        <h4 align="center">Local Silver</h4>
        <p class="centered"><a href="http://www.startapp.com/">
          <img src="/images/startapp.png" alt="StartApp Sponsor Logo" class="sponsorimg" /></a>
        </p>
        
        <h4 align="center">Partner</h4>
        <p class="centered"><a href="http://www.berlin-gtug.org/">
          <img src="/images/berlin-gtug.png" alt="Berlin GTUG Logo" class="sponsorimg" /></a>
        </p>
      </div>
    </div>
  </div><br /><br /><br />
  <div class="row">
      <h4 align="center">Global Partner</h4>
    <div class="row-fluid" id="sponsor_container">
        <div class="span2" align="center">
          <p class="centered"><a href="http://www.wipconnector.com/">
          <img src="/images/wip.png" alt="Wireless Industry Partnership Sponsor Logo" class="sponsorimg" /></a></p>
        </div>
        <div class="span2" align="center">
          <p class="centered"><a href="http://skillsmatter.com/">
          <img src="/images/skills-matter.png" alt="Skills Matter Sponsor Logo" class="sponsorimg" /></a></p>
        </div>
        <div class="span2" align="center">
          <p class="centered"><a href="http://springboard.com/">
          <img src="/images/springboard.png" alt="springboard() Sponsor Logo" class="sponsorimg" /></a></p>
        </div>
        <div class="span2" align="center">
          <p class="centered"><a href="http://www.f6s.com/">
          <img src="/images/f6s.png" alt="F6S Sponsor Logo" class="sponsorimg" /></a></p>
        </div>
        <div class="span2" align="center">
          <p class="centered"><a href="http://www.oreilly.com/">
          <img src="/images/oreilly.gif" alt="O'Reilly Sponsor Logo" class="sponsorimg" /></a></p>
        </div>
        <div class="span2" align="center">
          <p class="centered"><a href="http://www.startapp.com/">
          <img src="/images/startapp.png" alt="StartApp Sponsor Logo" class="sponsorimg" /></a></p>
        </div>
    </div>
    <div class="row-fluid" id="sponsor_container">
        <div class="span2" align="center">
          <p class="centered"><a href="http://uk.droidcon.com/">
          <img src="/images/droidconuk.jpg" alt="DroidCon UK Sponsor Logo" class="sponsorimg" /></a></p>
        </div>
        <div class="span2" align="center">
          <p class="centered"><a href="https://developers.google.com/">
          <img src="/images/google.png" alt="Google Developers Sponsor Logo" class="sponsorimg" /></a>
        </p>
        </div>
    </div>
  </div>
    <!--
    <div class="disclaimer-text">
      <p>
        <a style="color: #000;" href="mailto:android-birthday@googlegroups.com">Contact us.</a>
      </p>
      <p>Disclaimer: V Hack Android is an independent event organized by mostly GTUGs/GDGs; our activities and the opinions expressed here and on related pages should in no way be linked to the Google corporation, or the OHA.</p>
    </div>
    -->
</div>

<!-- Place this tag after the last badge tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %}
