{% extends "global.html" %} 
{% block head %} 
{% endblock %} 

{% block document_ready %} 
{% endblock %} 

{% block content %}
<div class="container-fluid">

	<div class="row">
		<div id="title">
			<h1 style="font-size: 25px; float: none; margin-bottom: 10px">
				V Hack Android</h1>
		</div>
		<a class="label label-info" href="/vhackandroid" >Home</a>
		<a class="label" href="#" >Sponsors</a>
		
		<hr class="thin-line">
	</div>

	<div class="row-fluid">
		<div class="span3">
			<span style="margin-left: 5px"> <img src="/images/vhabig.png">

			</span>
		</div>

		<div class="span9">
			<div id="gdg-container">
				
				<h1>Our sponsors</h1>
				<hr>
				<p class="lead" style="text-align: justify">We would like to
					acknowledge the generous help of our sponsors, without whom this
					would not be possible.</p>
				<div class="row-fluid">
					<div class="span6">
						<h2>ALCATEL ONE TOUCH</h2>
						<p class="lead" style="text-align: justify">
							<a style="color: #08F" href="http://www.alcatelonetouch.com">ALCATEL ONE TOUCH</a> designs,
							manufactures, and markets globally an expanding portfolio of
							mobile and Internet products designed to be as individual as the
							people who use them. Currently the fastest growing of the world's
							top ten mobile phone manufacturers, ALCATEL ONE TOUCH makes
							access to today's mobile lifestyle simple by offering colorful,
							easy-to-use devices equipped with the technology people need most
							at smart prices they can afford.
						</p>
<!-- Place this tag where you want the badge to render. -->
<div class="g-plus" data-href="https://plus.google.com/116263352042026064654" data-rel="publisher"></div>
<br>
<a href="https://twitter.com/ALCATEL1TOUCH" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ALCATEL1TOUCH</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				<p class="centered">
					<br> <img
						src="/images/alcatelphone.jpg" class="sponsorimg" style="max-width: 90%;"/>
				</p>
					</div>

					<div class="span6">
						<h2>Sony Mobile</h2>
						<p class="lead" style="text-align: justify">
							<a style="color: #08F" href="http://www.sonymobile.com">Sony Mobile
								Communications</a> is a subsidiary of Tokyo-based Sony Corporation,
							a leading global innovator of audio, video, game, communications,
							key device and information technology products for both the
							consumer and professional markets. With its music, pictures,
							computer entertainment and online businesses, Sony is uniquely
							positioned to be the leading electronics and entertainment
							company in the world. Through its Xperia™ smartphone portfolio,
							Sony Mobile Communications delivers the best of Sony technology,
							premium content and services, and easy connectivity to Sony’s
							world of networked entertainment experiences. For more
							information: <a style="color: #08F" href="http://developer.sonymobile.com">developer.sonymobile.com</a>
						</p>
<!-- Place this tag where you want the badge to render. -->
<div class="g-plus" data-href="https://plus.google.com/117586446271921149656" data-rel="publisher"></div>
<br>
<a href="https://twitter.com/sonyxperia" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @sonyxperia</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				<p class="centered">
					<img
						src="/images/sonytouch.jpg" class="sponsorimg" style="max-width: 90%;" />
				</p>

					</div>
				</div>
				<br>
				<div class="row-fluid">
					<div class="span6">
						<h2>Luminis</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.luminis.eu/en">Luminis</a> is a personal and
							human-based company that defines itself through its expertise.
							There focus is to cultivate expertise and develop software
							related to emergent, disruptive technologies and to use these to
							innovate and create value for there customers and partners.
							Luminis supports ideas from plan through to practice, from idea
							to innovation and from brainstorming through implementation.
						</p>
					</div>

					<div class="span6">
						<h2>Itude Mobile</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://site.itude.com/">Itude Mobile</a> creates custom
							apps and custom mobile websites. Cross platform – and generally
							combining new technologies with legacy systems. Their experienced
							specialists develop native applications for Android, IOS and
							complementary mobile websites. They have provided mobile websites
							and mobile applications to a variety of organizations such as
							Cordys, BinckBank, Alex.nl. These applications and websites
							provide complex and highly integrated functions to consumers in a
							secure and user-friendly way.
						</p>
					</div>
				</div>
				<br>
				<div class="row-fluid">
					<div class="span6">
						<h2>Egeniq</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.egeniq.com/">Egeniq</a> specializes in mobile
							technology. They are a company that do development of apps for
							Android and iOS and implement backend APIs to power these apps.
							They are specialized in high performance, high availability and
							high concurrency apps, and try to focus on projects with
							interesting technical challenges. Many of there clients are major
							players in the entertainment, games and media industries. Egeniq:
							"We value passion for technology and we try to get the best out
							of all our developers." Egeniq also organizes the Mdevcon (a
							conference for mobile developers) and you can regularly find them
							speaking at conferences or user group events.
						</p>
					</div>

					<div class="span6">
						<h2>Droidcon NL</h2>
						<p class="about-text" style="text-align: justify">After a
							successful event last year, DroidconNL is organization yet
							another great Android Event. On the 22 and 23th of November the
							Dutch Droidcon will take place at an unknown location in
							Amsterdam. During this event it's all about Android and is mainly
							aimed at developers, but of course other interested parties are
							welcome as well. If you are looking to learn more about Android
							or you just want to meet other Android enthusiasts here is your
							chance.</p>
					</div>
				</div>
				<br>
				<div class="row-fluid">
					<div class="span6">
						<h2>VX Company</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.vxcompany.com/">VX Company</a> (1988) is an
							IT service provider located in Baarn and active in consultancy,
							projects and secondment in the field of Microsoft, Java, Oracle,
							OpenVMS, Unix and Linux. Their 300 IT-professionals work on the
							analysis, design, development, integration, testing and
							management of applications and infrastructures for several
							customers in the Netherlands. Furthermore VX Company is
							specialized in custom app development and integrating these apps
							with your existing business applications. Our experienced and
							specially trained IT-professionals understand that an app should
							be an extension of your existing business processes. They
							willingly translate your business needs to mobile applications
							for your Android, Apple or Windows smartphone or tablet.
						</p>
					</div>

					<div class="span6">
						<h2>IS24</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.immobilienscout24.de">IS24</a>
						</p>
					</div>
				</div>
				<br>
				<div class="row-fluid">
					<div class="span6">
						<h2>StartApp</h2>
						<p class="about-text" style="text-align: justify">
							Founded in late 2010, StartApp came to life after its founders
							identified a major need from mobile app developers – making real
							revenue. <a href="http://www.startapp.com/">StartApp</a> is a new
							monetization and distribution platform focusing on free
							applications for mobile phones. We partner with app developers to
							help them make more money from their free apps by introducing
							search monetization to the mobile world. We know that most
							Android app developers aren’t generating real revenue from their
							apps. Current monetization options such as in-app ads and
							freemium result in a bad user experience (viewing ads while using
							an app) and with no substantial revenue. We are striving to help
							these developers generate real revenue while improving the user
							experience of their end users. We know that these are no easy
							goals. So far we are well on our way, with some incredible
							numbers achieved during our beta test. Are you an Android
							developer? <a href="http://www.startapp.com/">Join today!</a>
						</p>
					</div>

					<div class="span6">
						<h2>European Network of Living Labs</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.openlivinglabs.eu/">The European Network
								of Living Labs (ENoLL)</a> is the international federation of
							benchmarked Living Labs in Europe and worldwide. Founded in
							November 2006 under the auspices of the Finnish European
							Presidency, the network has grown in ‘waves’ up to this day. To
							this date, 6 Waves have been launched, resulting in over 300
							accepted Living Labs. The ENoLL international non-profit
							association, as the legal representative entity of the network,
							is headquartered in Brussels, at the heart of Europe. What is a
							Living Lab? A Living Lab is a real-life test and experimentation
							environment where users and producers co-create innovations.
							Living Labs have been characterised by the European Commission as
							Public-Private-People Partnerships (PPPP) for user-driven open
							innovation. A Living Lab employs four main activities: 1.
							Co-Creation: co-design by users and producers. 2. Exploration:
							discovering emerging usages, behaviours and market opportunities.
							3. Experimentation: implementing live scenarios within
							communities of users. 4. Evaluation: assessment of concepts,
							products and services according to socio-ergonomic,
							socio-cognitive and socio-economic criteria.
						</p>
					</div>
				</div>
				<br>
				<div class="row-fluid">
					<div class="span6">
						<h2>Team Neusta</h2>
						<p class="about-text" style="text-align: justify">
							The owner-managed and medium sized full-service provider <a
								href="http://www.team-neusta.de/">Team Neusta</a> creates
							tailor-made solutions in a cooperative, open-minded and
							professional way, based trust and collaboration. With about 500
							employees, Team Neusta works for well-known companies in
							different industries and provides them with solutions in
							software, ecommerce, web-development and communication. The goal
							of Team Neusta is to develop professional results with trust and
							responsibility and offer the whole value creation chain to the
							customer from one single source.
						</p>
					</div>

					<div class="span6">
						<h2>Enough Software</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.enough.de/">Enough Software</a> provides
							development services including for Android since 2005. We also
							maintain the Mobile Developers Guide to the Galaxy, a community
							driven guide for mobile developers for any platform. Visit them
							on <a href="http://www.enough.de/">www.enough.de</a> for more
							information!
						</p>
					</div>
				</div>
				<br>
				<div class="row-fluid">
					<div class="span6">
						<h2>Genymobile</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.genymobile.com/">Genymobile</a>, spécialiste
							des technologies mobiles et objets connectés, est la première
							société française à focaliser son expertise sur Android. La
							société propose à ces clients grands comptes tels que JCDecaux,
							Orange, Thales : Conseil, Développement, Création, adaptation et
							portage de librairies Android, sécurité, intégration de nouveaux
							périphériques type Lecteur NFC, ZigBee… La start up de 20
							personnes connait une croissance exceptionnelle depuis sa
							création en 2011 et annonce un chiffre d’affaires prévisionnel de
							plus de 2M€. Sponsor habituel du PAUG, Genymobile n’a de cesse de
							s’investir dans les événements communautaires de l’Open Source et
							sera présent lors de l’événement pour partager son savoir-faire.
						</p>
					</div>

					<div class="span6">
						<h2>SumUp</h2>
						<p class="about-text" style="text-align: justify">
							<a href="https://sumup.com/">SumUp</a> is the easiest way for
							sole traders and small businesses to accept debit and credit card
							payments securely, even on-the-go.
						</p>
					</div>
				</div>
				<br>
				<div class="row-fluid">
					<div class="span6">
						<h2>WIP</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.wipconnector.com/">WIP</a> is the connector
							in the mobile industry, supporting the overall ecosystem by
							encouraging discussions, co-creation and exchange. Making the
							path easier for mobile developers/ISVs, to reduce cycle times and
							increase innovation in the mobile ecosystem. WIP also organizes
							other activites such as receptions or workshops. We have a unique
							style of designing our events to ensure full participation and
							maximum value for everyone.
						</p>
					</div>

					<div class="span6">
						<h2>Skills Matter</h2>
						<p class="about-text" style="text-align: justify">
							<a href="http://www.skillsmatter.com/">Skills Matter</a> offers
							Europe’s largest selection of training and events on Open Source
							technologies and Agile Software Development. Our values are based
							on supporting the Open Source & Agile community by hosting free
							events, providing valuable skills through the delivery of
							courses, and by organising inclusive, affordable conferences on
							emerging technologies and innovative ideas in our industry.
						</p>
					</div>
				</div>
				<br>

			</div>
		</div>
	</div>
	<br><br>
		<div class="disclaimer-text" align="center"><a style="color: #000;" href="mailto:android-birthday@googlegroups.com">Contact us.</a></div><br>
				<div class="disclaimer-text" align="center">Disclaimer: V Hack Android is an
					independent event organized by mostly GTUGs/GDGs; our activities
					and the opinions expressed here and on related pages should in no
					way be linked to the Google corporation, or the OHA.</div>

<!-- Place this tag after the last badge tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %} 
