{% extends "global.html" %}
{% block head %}
<style>
.eventtype img{
width:110px;
height:127px;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div id="title">
      <h1 style="font-size: 25px; float: none; margin-bottom: 10px">FAQs!</h1>
    </div>
    <hr class="thin-line">
  </div>

  <div class="row-fluid">
    <div class="span3">
      <div class="row">
        <span style="margin-left: 5px">
          <img src="/images/gdgbig.png">
        </span>
      </div>
    </div>

    <div class="span9">
      <div class="row">
        <div id="gdg-container">

          <ul class="unstyled" id="faqlist">
            <li>
              <h3>Q: What is a GDG DevFest?</h3>
              <p>Inspired by the success of DevFestX in Japan, New Delhi,
                Bangalore and Korea, we are inviting GDG chapter across the
                world to organize large community developer event under the
                brand "GDG DevFest".</p>
            </li>
            <li>
              <h3>Q: Who can organize a GDG DevFest?</h3>
              <p>Invitation to host GDG DevFest is being extended to
                active GDG chapters listed <a href="/events">here</a>. Ini case someone wants to
                organize a GDG DevFest in a city with no GDG chapter then the
                first step should be to start a GDG chapter in that city. In
                addition to the GDG chapters, we are inviting chapters who have
                decided to stay with the GTUG branding to also plan and organize
                GTUG DevFests.</p>
            </li>
            <li>
              <h3>Q: What qualifies as a GDG DevFest?</h3>
              <p>GDG DevFest can be organized all through the year and are community run
              events. Therefore these events take the form desired by the
              community with minimal guidelines. In order to ensure these
              events are bigger than regular GDG meetups following are some of
              the recommendations: Duration of the event should be at least 6
              hours more than 1 track if organizing a speaker session based
              event Hackathon (Single or Multi Product) - Ideally somewhere
              between 24-48 hours.</p>
            </li>
            <li>
              <h3>Q: What is Global GDG DevFest season?</h3>
              <p>At the  GDG Summit in Mountain View on 26th June 2012, we discussed the
              idea of global DevFest week with the community organizers.
              Proposal is to organize several simultaneous GDG DevFest events
              across the world in the month of September 2012. As per the
              discussion during the GDG Summit, we have identified 21
              September-11 November as the suitable period for global DevFests.</p>
            </li>
            <li>
              <h3>Q: How can I have GDG DevFest in my region listed on the website?</h3>
              <p>Please fill <a href="/event/create" style="color:#08F">this</a>
              form to let us know of your DevFest plans. All the proposals
              submitted through this form would be listed on the website.</p>
            </li>
            <li>
              <h3>Q: What branding to use for the GDG DevFest in my region?</h3>
              <p>Please refer to the logo generator tools under "Branding" tab.</p>
            </li>
          </ul>
          <br><br>
          <h1>Event Badges</h1>
          <hr>
          <div class="events">
            <div class="row">
              <div class="span16">
                <div class="eventtype">
                  <img src="/images/live.png" alt="Google Developer Live event">
                  <h1>Google Developer Live Sessions</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span16">
                <div class="eventtype">
                  <img src="/images/events.png" alt="Events">
                  <h1>Conference</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span16">
                <div class="eventtype">
                  <img src="/images/barcamp.png" alt="BarCamp">
                  <h1>BarCamp</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span16">
                <div class="eventtype">
                  <img src="/images/hack.png" alt="Hackathon">
                  <h1>Hackathon</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
